<div class="wrapper-header">
  <div class="row">
    <div class="col-xs-12 col-md-8">
      <ul class="menu-header">
        <li>
          <a href="http://srv-vibpan01:8082/sistema/">Sistema Manutenção</a>
        </li>
        <li>
            <a href="https://www.caesb.df.gov.br/">Site CAESB</a>
        </li>
        <li>
            <a href="https://bi.caesb.df.gov.br/Microstrategy/asp/Main.aspx">Business Inteligence</a>
        </li>
        <li>EP PAN</li>
      </ul>
    </div>
    <div class="col-xs-12 col-md-4">
      <form>
        <div class="form-row align-items-center">
          <div class="col-auto my-1">
            <div class="form-check">
              <label class="form-check-label" for="autoSizingCheck2">
                <b>Cadastre-se</b> para receber novidades
              </label>
              <input type="text" class="form-control" id="inlineFormInputName" placeholder="Digite seu email">
            </div>
          </div>
          <div class="col-auto my-1">
            <button type="submit" class="btn btn-primary acessar-conta">Cadastrar</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>