<div class="wrapper-header">
  <div class="row">
    <div class="col-xs-12 col-md-8">
      <ul class="menu-header">
        <li>
          <a href="http://srv-vibpan01:8082/sistema/" target="_blank">
            <img tooltip="Sistemas Manutenção" placement="top" show-delay="500" theme="light" offset="20"
              src="../../assets/chave de boca.png">
          </a>
        </li>
        <li>
          <a tooltip="Sistemas CAESB" placement="top" show-delay="500" theme="light" offset="35"
            href="https://sistemas.caesb.df.gov.br/seguranca/app/login" target="_blank">
            <img src="../../assets/SISTEMA MANUTENÇÃO.png">
          </a>
        </li>
        <li>
          <a tooltip="Business Intelligence" placement="top" show-delay="500" theme="light" offset="35"
            href="https://bi.caesb.df.gov.br/Microstrategy/asp/Main.aspx" target="_blank">
            <img src="../../assets/BI2.png">
          </a>
        </li>
        <li>
          <a tooltip="EP CAESB" placement="top" show-delay="500" theme="light" offset="35"
            href="http://ep.caesb/sites/pan/SitePages/PAN.aspx" target="_blank">
            <img src="../../assets/EP-PAN.png">
          </a>
        </li>
      </ul>
    </div>
    <div class="col-xs-12 col-md-4">
      <form>
        <div class="form-row align-items-center">
          <div class="col-auto my-1">
            <div class="form-check">
              <label class="form-check-label" for="autoSizingCheck2">
                <b>Cadastre-se</b> para receber novidades
              </label>
              <input type="text" class="form-control" id="inlineFormInputName" placeholder="Digite seu email">
            </div>
          </div>
          <div class="col-auto my-1">
            <button type="submit" class="btn btn-primary acessar-conta">Cadastrar</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>